WpfWcf/WpfWcf/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="libjobs" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/wcfgllib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ilibjobs_GetJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobs" />
  </wsdl:message>
  <wsdl:message name="Ilibjobs_GetJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsResponse" />
  </wsdl:message>
  <wsdl:message name="Ilibjobs_GetJobInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobInfo" />
  </wsdl:message>
  <wsdl:message name="Ilibjobs_GetJobInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Ilibjobs_AddJob_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJob" />
  </wsdl:message>
  <wsdl:message name="Ilibjobs_AddJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobResponse" />
  </wsdl:message>
  <wsdl:portType name="Ilibjobs">
    <wsdl:operation name="GetJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/Ilibjobs/GetJobs" message="tns:Ilibjobs_GetJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ilibjobs/GetJobsResponse" message="tns:Ilibjobs_GetJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/Ilibjobs/GetJobInfo" message="tns:Ilibjobs_GetJobInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ilibjobs/GetJobInfoResponse" message="tns:Ilibjobs_GetJobInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <wsdl:input wsaw:Action="http://tempuri.org/Ilibjobs/AddJob" message="tns:Ilibjobs_AddJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ilibjobs/AddJobResponse" message="tns:Ilibjobs_AddJob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Ilibjobs" type="tns:Ilibjobs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJobs">
      <soap:operation soapAction="http://tempuri.org/Ilibjobs/GetJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobInfo">
      <soap:operation soapAction="http://tempuri.org/Ilibjobs/GetJobInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <soap:operation soapAction="http://tempuri.org/Ilibjobs/AddJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="libjobs">
    <wsdl:port name="BasicHttpBinding_Ilibjobs" binding="tns:BasicHttpBinding_Ilibjobs">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/wcfgllib/libjobs/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>