WpfWcf/WpfWcf/Service References/ServiceReference1/wcfgllib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfgllib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfgllib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="maxlvl" type="xs:int" />
      <xs:element minOccurs="0" name="minlvl" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
</xs:schema>